In [1]:
# ref: https://www.machinelearningplus.com/machine-learning/portfolio-optimization-python-example/

import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
payload=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_table = payload[0]
second_table = payload[1]

df = first_table
symbols = df['Symbol'].values.tolist()
print(len(symbols))

503

In [3]:
stocks = ['AAPL', 'GOOG', 'INTC', 'WFC', 'ADCP'] 
#stocks = yf.Tickers.download()
#stocks
test = yf.download(symbols, period='1y')
# test = test.drop(columns = ['BF.B', 'BRK.B'])
test.head()
# Adj Close = L’adjusted close price o in italiano il prezzo di chiusura rettificato opera modificando il prezzo di chiusura di 
# un’azione per rifletterne il valore dopo aver tenuto conto di fattori quali dividendi, frazionamenti azionari e anche l’eventuale 
# emissione di nuove azioni. Viene spesso utilizzato quando si esaminano i rendimenti storici o si esegue un’analisi dettagliata 
# delle prestazioni passate

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2021-08-31  174.437943  19.940001  197.831650  150.983948  116.027039
2021-09-01  174.418045  19.639999  196.885635  151.660172  107.851921
2021-09-02  176.972946  19.760000  195.842087  152.793808  107.611763
2021-09-03  178.225525  19.370001  194.505981  153.440186  107.227516
2021-09-07  176.674698  19.530001  194.866837  155.816879  104.739418

                                                                        ...  \
                   ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                    ...
2021-08-31  120.623245  363.959991  124.390610  332.519623  663.700012  ...
2021-09-01  121.087151  363.269989  125.404480  333.843536  665.890015  ...
2021-09-02  123.357292  369.829987  126.477409  336.906342  664.640015  ...
2021-09-03  123.515213  372.690002  126.920357  339.208313  666.590027  ...
2021-09-07  122.597298  376.200012  126.378967  337.390411  661.390015  ...

             Volume                                                         \
               WYNN      XEL       XOM     XRAY      XYL      YUM      ZBH
Date
2021-08-31  2627000  2696100  27104100  1591600  1088300  2297300  1222095
2021-09-01  2450900  1804500  21644100   965500   728200  1238800   913095
2021-09-02  2367900  1489400  23293300   926000   870500  1107800  1348682
2021-09-03  2377900  1698000  13840000   860800   588200   834400  2822715
2021-09-07  5060700  2292400  14354400   828800   790000  1553100  1550871


              ZBRA     ZION      ZTS
Date
2021-08-31  230100  1658000  1480600
2021-09-01  195200  1305900  1030700
2021-09-02  170000   792700  1116500
2021-09-03  178600  1291000  1003500
2021-09-07  179800  1060300   977200

[5 rows x 3018 columns]

In [7]:
#test.to_csv(r'ds_completo_un_anno.csv')

In [4]:
test_2 = test[test.columns[1:5]]
test_2

            Adj Close
                  AAL         AAP        AAPL        ABBV
Date
2021-08-26        NaN         NaN         NaN         NaN
2021-08-27  20.219999  198.777649  147.771957  114.874268
2021-08-30  19.510000  196.163940  152.266754  115.825302
2021-08-31  19.940001  197.831650  150.983963  116.027039
2021-09-01  19.639999  196.885651  151.660172  107.851921
...               ...         ...         ...         ...
2022-08-22  13.710000  198.479996  167.570007  140.339996
2022-08-23  13.820000  199.050003  167.229996  139.020004
2022-08-24  13.990000  179.910004  167.529999  137.910004
2022-08-25  14.420000  180.990005  170.029999  139.330002
2022-08-26  13.740000  173.589996  163.619995  136.350006

[253 rows x 4 columns]

In [5]:
numero_di_asset_ordinato = 4
test_2 = test_2['Adj Close']
test = test_2.apply(lambda x: x.fillna(x.mean()),axis=0)
# test = test['Adj Close'] # prendo solo i prezzi di chiusura aggiustati
# test = test[['AAPL', 'ACN', 'XEL', 'AAL']] # , 
# test.head()
# test = test.apply(lambda x: x.fillna(x.mean()),axis=0)
test = test.sample(n = numero_di_asset_ordinato, axis = 'columns')
test

                  ABBV        AAPL        AAL         AAP
Date
2021-08-26  134.493956  157.644789  17.334762  208.129354
2021-08-27  114.874268  147.771957  20.219999  198.777649
2021-08-30  115.825302  152.266754  19.510000  196.163940
2021-08-31  116.027039  150.983963  19.940001  197.831650
2021-09-01  107.851921  151.660172  19.639999  196.885651
...                ...         ...        ...         ...
2022-08-22  140.339996  167.570007  13.710000  198.479996
2022-08-23  139.020004  167.229996  13.820000  199.050003
2022-08-24  137.910004  167.529999  13.990000  179.910004
2022-08-25  139.330002  170.029999  14.420000  180.990005
2022-08-26  136.350006  163.619995  13.740000  173.589996

[253 rows x 4 columns]

In [6]:
log_apprezzamenti_quotidiani = test.pct_change().apply(lambda x: np.log(1+x))
log_apprezzamenti_quotidiani.head()

                ABBV      AAPL       AAL       AAP
Date
2021-08-26       NaN       NaN       NaN       NaN
2021-08-27 -0.157681 -0.064674  0.153958 -0.045973
2021-08-30  0.008245  0.029964 -0.035745 -0.013236
2021-08-31  0.001740 -0.008460  0.021801  0.008466
2021-09-01 -0.073064  0.004469 -0.015160 -0.004793

In [7]:
cov_matrix = test.pct_change().apply(lambda x: np.log(1+x)).cov()
cov_matrix

          ABBV      AAPL       AAL       AAP
ABBV  0.000288  0.000086 -0.000070  0.000108
AAPL  0.000086  0.000393  0.000332  0.000185
AAL  -0.000070  0.000332  0.001368  0.000251
AAP   0.000108  0.000185  0.000251  0.000443

In [8]:
corr_matrix = test.pct_change().apply(lambda x: np.log(1+x)).corr()
corr_matrix

          ABBV      AAPL       AAL       AAP
ABBV  1.000000  0.254301 -0.111546  0.301642
AAPL  0.254301  1.000000  0.452273  0.443190
AAL  -0.111546  0.452273  1.000000  0.322003
AAP   0.301642  0.443190  0.322003  1.000000

In [9]:
medie_diversi_er = log_apprezzamenti_quotidiani.mean()
medie_diversi_er

ABBV    0.000054
AAPL    0.000148
AAL    -0.000922
AAP    -0.000720
dtype: float64

In [10]:
ann_sd = test.pct_change().apply(lambda x: np.log(1+x)).std().apply(lambda x: x*np.sqrt(test.shape[0]))
ann_sd

ABBV    0.270095
AAPL    0.315245
AAL     0.588285
AAP     0.334945
dtype: float64

In [11]:
assets = pd.concat([medie_diversi_er, ann_sd], axis=1) # Creating a table for visualising returns and volatility of assets
assets.columns = ['Returns', 'Volatility']
assets

       Returns  Volatility
ABBV  0.000054    0.270095
AAPL  0.000148    0.315245
AAL  -0.000922    0.588285
AAP  -0.000720    0.334945

In [12]:
# assets.plot.scatter(x='Volatility', y='Returns', marker='o', s=10, alpha=0.3, grid=True, figsize=[10,10])

In [13]:
# check per valori mancanti
medie_diversi_er.isnull().values.any()
np.where(medie_diversi_er.isnull().values == True)

(array([], dtype=int64),)

### Simulatore

In [ ]:
from qiskit.utils import algorithm_globals
from qiskit.algorithms import VQE
from qiskit.algorithms.optimizers import COBYLA
from qiskit import Aer
from qiskit.circuit.library import TwoLocal
from qiskit.utils import QuantumInstance
from qiskit_optimization.algorithms import MinimumEigenOptimizer
from qiskit_finance.applications.optimization import PortfolioOptimization

# mu -> array con le medie di ogni share
# sigma -> array che non è altro che la matrice delle covarianze in numpy

q = 0.5
num_assets = 4 #len(test.columns)
budget = 2 #num_assets // 2 

portfolio = PortfolioOptimization(
    expected_returns=medie_diversi_er.to_numpy(), covariances=cov_matrix.to_numpy(), risk_factor=q, budget=budget
   , bounds = [(0, 1), (0, 1), (0, 1), (0, 1)]
)
qp = portfolio.to_quadratic_program()
# vedi e gioca con to_quadratic_program: https://github.com/Qiskit/qiskit-finance/blob/88091bca656de8fa810021af9b5f34efa9709c5d/qiskit_finance/applications/optimization/portfolio_optimization.py#L69
print(qp)

In [ ]:
from qiskit_optimization.converters import QuadraticProgramToQubo

def index_to_selection(i, num_assets):
    s = "{0:b}".format(i).rjust(num_assets)
    x = np.array([1 if s[i] == "1" else 0 for i in reversed(range(num_assets))])
    return x


def print_result(result):
    selection = result.x
    value = result.fval
    print("Optimal: selection {}, value {:.4f}".format(selection, value))

    eigenstate = result.min_eigen_solver_result.eigenstate
    eigenvector = eigenstate if isinstance(eigenstate, np.ndarray) else eigenstate.to_matrix()
    probabilities = np.abs(eigenvector) ** 2
    i_sorted = reversed(np.argsort(probabilities))
    print("\n----------------- Full result ---------------------")
    print("selection\tvalue\t\tprobability")
    print("---------------------------------------------------")
    for i in i_sorted:
        x = index_to_selection(i, num_assets)
        value = QuadraticProgramToQubo().convert(qp).objective.evaluate(x)
        # value = portfolio.to_quadratic_program().objective.evaluate(x)
        probability = probabilities[i]
        print("%10s\t%.4f\t\t%.4f" % (x, value, probability))

In [ ]:
algorithm_globals.random_seed = 1234
backend = Aer.get_backend("statevector_simulator")
cobyla = COBYLA()
cobyla.set_options(maxiter=500)
ry = TwoLocal(num_assets, "ry", "cz", reps=1, entanglement="full")
quantum_instance = QuantumInstance(backend=backend, seed_simulator=1587, seed_transpiler=6954)
vqe_mes = VQE(ry, optimizer=cobyla, quantum_instance=quantum_instance)
vqe = MinimumEigenOptimizer(vqe_mes)

In [ ]:
print(num_assets)
ry.decompose().draw()

In [ ]:
import time 
t = time.time()
result = vqe.solve(qp)
t_2 = time.time() - t
print('Il simulatore per le ' + str(assets.shape[0]) + ' variabili ha impiegato ' + str(t_2) + ' secondi')
print_result(result)

In [ ]:
def remove_exponent(value):
    decial = value.split('e')
    ret_val = format(((float(decial[0]))*(10**int(decial[1]))), '.8f')
    return ret_val

dict_r_p = {}
for i in range(len(result.raw_samples)):
    r = str(result.raw_samples[i]).split('SolutionSample(x=array(')[1].split(')')[0] # risposta
    p = str(result.raw_samples[i]).split('probability')[1].replace('=', '').split(',')[0] # probabilità associata alla risposta
    if 'e' in p: # check per vedere se è un numero esponenziale
        p_pulito = remove_exponent(p)
        dict_r_p[r] = p_pulito
    else:
        dict_r_p[r] = p

In [ ]:
print(dict_r_p)
print(t_2)

In [ ]:
dict_r_p.keys()

In [ ]:
for old_key in dict_r_p.keys():
    new_key = old_key.replace('[', '').replace(']', '').replace(' ', '').replace(',', '')
    dict_r_p[new_key] = dict_r_p.pop(old_key)

dict_r_p

In [ ]:
for old_value in dict_r_p.values():
    new_value = float(old_value)
    for keys in dict_r_p:
        dict_r_p[keys] = float(dict_r_p[keys])

dict_r_p

In [ ]:
# fillalo

for n in range(2**test.shape[1]): # 2^numero di variabili (asset)
    binary = bin(n).replace('0b', '')
    if len(binary) < test.shape[1]:
        zeri_da_aggiungere = test.shape[1] - len(binary)
        binary = zeri_da_aggiungere * '0' + binary
    if binary not in dict_r_p.keys():
        dict_r_p[binary] = 0.0
dict_r_p = dict(sorted(dict_r_p.items()))
dict_r_p

In [ ]:
with open("test.txt", "w") as file:
    file.write(str(dict_r_p))
    file.write(str(t_2))

### Macchina reale

In [ ]:
# # dizionario di ogni parametro e il suo valore associato
# my_param_dict = result.raw_result.optimal_parameters
# # l'array di tutti i valori
# my_param_list = result.raw_result.optimal_point
# print(my_param_dict)
# print(my_param_list)

In [ ]:
from qiskit import IBMQ, execute, transpile, assemble

IBMQ.load_account()
provider_reale = IBMQ.get_provider(hub = 'ibm-q')
backend_reale = provider_reale.get_backend('ibmq_quito') # prima era ibmq_quito

In [ ]:
quantum_instance_reale = QuantumInstance(backend=backend_reale, seed_transpiler=6954) # leva seed_simulator=1587
vqe_mes_reale = VQE(ry, optimizer=cobyla, quantum_instance=quantum_instance_reale)
vqe_reale = MinimumEigenOptimizer(vqe_mes_reale)

In [ ]:
t_3 = time.time()
result = vqe_reale.solve(qp)
t_4 = time.time() - t_3
print('La macchina reale per le ' + str(len(test)) + ' variabili ha impiegato ' + str(t_4) + ' secondi')

In [ ]:
# stringa senza senso

In [ ]:
print_result(result)

### altra cosa

In [ ]:
from qiskit import *

IBMQ.load_account()
provider_reale = IBMQ.get_provider(hub = 'ibm-q')
backend_reale = provider_reale.get_backend('ibmq_quito') # prova a vedere che succede se cambi il backend
job = backend_reale.retrieve_job('62b3343517ea7b5cbe3773a0')

In [ ]:
risultati_intermedi = str(job.result()).split('counts=')[1].split('),')[0]
n_qubit = int(np.log2(risultati_intermedi.count(':')))
lista_statevector = []
print('n_qubit: ' + str(n_qubit))
for numero_decimale in range(2**(n_qubit)):
    numero_binario = bin(numero_decimale).replace("0b", "")
    if len(numero_binario) < n_qubit:
        zeri_da_appendere = n_qubit - len(numero_binario)
        numero_binario = zeri_da_appendere * '0' + numero_binario
    lista_statevector.append(numero_binario)

lista_statevector

In [ ]:
# scala il replace dei nomi e fai confronto con dict_r_p
import ast

dict_r_p_2 = {}
risultati_intermedi_2 = ast.literal_eval(risultati_intermedi)
for y in range(len(lista_statevector)):
    dict_r_p_2[lista_statevector[y]] = list(risultati_intermedi_2.items())[y][1] # [1] perché è il valore

dict_r_p_2

In [ ]:
shots = int(str(job.result()).split('shots=')[1].split(',')[0])
lista_valori_divisi = []
for v in dict_r_p_2.values():
    rapporto = v / shots
    lista_valori_divisi.append(rapporto)

In [ ]:
for key, val in zip(dict_r_p_2, lista_valori_divisi): # assegna il rapporto a 1000 dei valori
    dict_r_p_2[key] = val

In [ ]:
print(dict_r_p)
print('----------------------------------------------------')
print(dict_r_p_2)

In [ ]:
# grafico risultati

import numpy as np
import matplotlib.pyplot as plt

X = list(dict_r_p.keys())
valori_simulatore = list(dict_r_p.values())
valori_macchina_reale = list(dict_r_p_2.values())
N = 2**(test.shape[1])
ind = np.arange(N)
width = 0.8
X_axis = np.arange(len(X))
fig = plt.figure()
ax = fig.add_axes([2, 2, 2, 1])
ax.bar(X_axis - 0.2, valori_simulatore, 0.4, label = 'Simulatore')
ax.bar(X_axis + 0.2, valori_macchina_reale, 0.4, label = 'Macchina reale')
# ax.bar(ind, valori_macchina_reale, width, color= 'r', label = 'Simulatore')
# ax.bar(ind, valori_simulatore, width, color= 'b', label = 'Macchina reale')
  
ax.set_xticks(ind, tuple(dict_r_p.keys()))
plt.xlabel("Combinazioni")
plt.ylabel("Probabilità")
plt.title("Confronto probabilità simulatore / macchina quantistica reale. Caso con " + str(test.shape[1]) + ' asset')
plt.legend()
plt.plot()
nome_file = 'confronto_' + str(test.shape[1]) + '_asset.pdf' 
plt.savefig(nome_file, bbox_inches = 'tight',pad_inches = 0)

In [ ]:
tempi_simulatore = []
tempi_macchina_reale = []
tempi_macchina_reale.append((job.time_per_step()['COMPLETED'] - job.time_per_step()['RUNNING']).total_seconds()) # tempo di esecuzione
tempi_simulatore.append(t_2)

In [ ]:
# line chart coi tempi di esecuzione
x = [2, 7, 16]
y = [7, 12, 20]
z = [_ for _ in range(2, test.shape[1] + 1)]
fig = plt.figure()
ax = fig.add_axes([2, 2, 2, 1])
plt.plot(z, x, label = "Tempo simulatore")
plt.plot(z, y, label = "Tempo macchina reale")
plt.xticks(z)
plt.xlabel("Numero asset")
plt.ylabel("Tempo in secondi")
plt.title("Tempi di esecuzione al crescere degli asset")
plt.legend()
plt.show()